
<div class="row m-5">
  <div class="col-12">
    <div class="card p-3">
      <h4>Function Config Management</h4>
      <app-filter [searchModel]="functionConfigSearchModel" (filterEvent)="getFilters($event)"></app-filter>
      <a class="btn btn-success ms-auto mb-2" routerLink="/order/config/function-config-form">Create</a>
      <app-table [dataColumn]="functionConfigTableCol" [dataRow]="functionConfigs" [searchModel]="functionConfigSearchModel" (tableEvent)="getDataEmit($event)"></app-table>
      <app-pagination [searchModel]="functionConfigSearchModel" (paginationEvent)="getSysFunctionConfigs()"></app-pagination>
    </div>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
<app-dialog [dialogDetail]="dialogDetails" (dialogEvent)="manageSysFunctionConfigById()"></app-dialog>