
<div class="row m-5">
  <div class="col-12">
    <div class="card p-3">
      <h4>Order Fulfillment Type Management</h4>
      <app-filter [searchModel]="orderFulfillmentTypeSearchModel" (filterEvent)="getFilters($event)"></app-filter>
      <a class="btn btn-success ms-auto mb-2" routerLink="/order/config/order-fulfillment-type-form">Create</a>
      <app-table [dataColumn]="orderFulfillmentTypeTableCol" [dataRow]="orderFulfillmentTypes" [searchModel]="orderFulfillmentTypeSearchModel" (tableEvent)="getDataEmit($event)"></app-table>
      <app-pagination [searchModel]="orderFulfillmentTypeSearchModel" (paginationEvent)="getSysOrderFulfillmentTypes()"></app-pagination>
    </div>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
<app-dialog [dialogDetail]="dialogDetails" (dialogEvent)="manageSysOrderFulfillmentTypeById()"></app-dialog>