
<div class="row m-5">
  <div class="col-12">
    <div class="card p-3">
      <h4>Order Type Management</h4>
      <app-filter [searchModel]="orderTypeSearchModel" (filterEvent)="getFilters($event)"></app-filter>
      <a class="btn btn-success ms-auto mb-2" routerLink="/order/config/order-type-form">Create</a>
      <app-table [dataColumn]="orderTypeTableCol" [dataRow]="orderTypes" [searchModel]="orderTypeSearchModel" (tableEvent)="getDataEmit($event)"></app-table>
      <app-pagination [searchModel]="orderTypeSearchModel" (paginationEvent)="getSysOrderTypes()"></app-pagination>
    </div>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
<app-dialog [dialogDetail]="dialogDetails" (dialogEvent)="manageSysOrderTypeById()"></app-dialog>