
<button type="button" id="dialogBtn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#dialogDiv" style="display: none;">Show Dialog</button>
  
<div class="modal fade" id="dialogDiv" tabindex="-1" aria-labelledby="dialogDivLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialogDivLabel">{{dialogDetail.title}}</h5>
        <button type="button" id="closeDialogBtn" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{dialogDetail.msg}}
      </div>
      <div class="modal-footer">
        <button type="button" id="closeDialogBtn2" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="submitDialogBtn" class="btn"
        [ngClass]="{
          'btn-danger': dialogDetail.type === 'confirm',
          'btn-primary': dialogDetail.type === 'save',
        }"(click)="confirm()">
          {{(dialogDetail.type === 'confirm' ? 'Confirm' : '')}}
          {{(dialogDetail.type === 'save' ? 'Save' : '')}}
        </button>
      </div>
    </div>
  </div>
</div>