<div class="row">
  <div class="col-md-6 col-12">
    <img [src]="(imgForgotPassword ? imgForgotPassword : exampleImage)" class="img-login">
  </div>
  <div class="col-md-6 col-12" *ngIf="pageType === 'sendEmail'">
    <form [formGroup]="sendEmailForm" (ngSubmit)="sendEmailToSMTP()">
      <div class="login-section mx-auto my-5">
        <h1>Reset Password</h1>
        <h3 class="mb-5">Let Us Help You</h3>
        <label class="form-label">Email</label>
        <input type="email" class="form-control mb-2" id="email" name="email" formControlName="email"
        [ngClass]="{ 'is-invalid': submittedSendEmail && fSendEmail['email'].errors }">
        <button type="submit" id="sendEmailBtn" class="btn btn-primary w-100 mt-5 mb-3">Send Email</button>
        <div class="row">
          <div class="col-12 text-center">
            <a routerLink="/auth/login">Login</a>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-6 col-12" *ngIf="pageType === 'resetPassword'">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="login-section mx-auto my-5">
        <h1>Reset Password</h1>
        <h3 class="mb-5">Let Us Help You</h3>
        <label class="form-label">Email</label>
        <input type="email" class="form-control mb-2" id="email" name="email" formControlName="email" readonly
        [ngClass]="{ 'is-invalid': submittedResetPassword && fResetPassword['email'].errors }">
        <label class="form-label">New Password:
          <small class="text-danger">{{passwordPattern}}</small>
        </label>
        <div class="input-group mb-3">
          <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword"
          [ngClass]="{ 'is-invalid': submittedResetPassword && fResetPassword['newPassword'].errors }">
          <span class="input-group-text" (click)="getEyeClass('newPassword')"><i [class]="eyeToggleNew"></i></span>
        </div>
        <button type="submit" id="resetPasswordBtn" class="btn btn-primary w-100 mt-5 mb-3">Reset My Password</button>
      </div>
    </form>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
  