
<div class="row m-5">
  <div class="col-12">
    <div class="card p-3">
      <h4>Delivery Sub Type Management</h4>
      <app-filter [searchModel]="deliverySubTypeSearchModel" (filterEvent)="getFilters($event)"></app-filter>
      <a class="btn btn-success ms-auto mb-2" routerLink="/order/config/delivery-subtype-form">Create</a>
      <app-table [dataColumn]="deliverySubTypeTableCol" [dataRow]="deliverySubTypes" [searchModel]="deliverySubTypeSearchModel" (tableEvent)="getDataEmit($event)"></app-table>
      <app-pagination [searchModel]="deliverySubTypeSearchModel" (paginationEvent)="getSysDeliverySubTypes()"></app-pagination>
    </div>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
<app-dialog [dialogDetail]="dialogDetails" (dialogEvent)="manageSysDeliverySubTypeById()"></app-dialog>