
<div class="row m-5">
  <div class="col-12">
    <div class="card p-3">
      <h4>Fulfillment Priority Management</h4>
      <app-filter [searchModel]="fulfillmentPrioritySearchModel" (filterEvent)="getFilters($event)"></app-filter>
      <a class="btn btn-success ms-auto mb-2" routerLink="/order/config/fulfillment-priority-form">Create</a>
      <app-table [dataColumn]="fulfillmentPriorityTableCol" [dataRow]="fulfillmentPrioritys" [searchModel]="fulfillmentPrioritySearchModel" (tableEvent)="getDataEmit($event)"></app-table>
      <app-pagination [searchModel]="fulfillmentPrioritySearchModel" (paginationEvent)="getSysFulfillmentPrioritys()"></app-pagination>
    </div>
  </div>
</div>

<app-alert [alertDetail]="alertDetails"></app-alert>
<app-dialog [dialogDetail]="dialogDetails" (dialogEvent)="manageSysFulfillmentPriorityById()"></app-dialog>