<nav class="mt-3">
  <ul class="pagination float-end">
    <select class="form-select me-3 w-50" id="selectItemPage" name="selectItemPage" (change)="selectItemPerPage($event)" [(ngModel)]="searchModel.api.itemPerPage">
      <option *ngFor="let item of perPageArr" value="{{item.id}}">{{item.value}}</option>
    </select>
    <li class="page-item total-item me-3 mt-2">
      <p>
        {{(searchModel.api.itemPerPage * searchModel.api.currentPage) - (searchModel.api.itemPerPage - 1)}}
         - 
        {{(searchModel.totalItem > (searchModel.api.itemPerPage * searchModel.api.currentPage) ? (searchModel.api.itemPerPage * searchModel.api.currentPage) : searchModel.totalItem)}}
         of 
        {{searchModel.totalItem}}</p>
    </li>
    <li class="page-item"
    [ngClass]="{'disabled': searchModel.api.currentPage <= 1}" (click)="changeCurrentPage('start')">
      <span class="page-link"><i class="fa-solid fa-angles-left"></i></span>
    </li>
    <li class="page-item"
    [ngClass]="{'disabled': searchModel.api.currentPage <= 1}" (click)="changeCurrentPage('-')">
      <span class="page-link"><i class="fa-solid fa-chevron-left"></i></span>
    </li>
    <!-- <li class="page-item" *ngFor="let page of searchModel.paginationArr; index as i"
    [ngClass]="{'active': searchModel.api.currentPage === (i + 1)}" (click)="changeCurrentPage(i + 1)">
      <span class="page-link">{{i + 1}}</span>
    </li> -->
    <li class="page-item">
      <input type="number" class="form-control text-center" [(ngModel)]="currentPage" (keyup.enter)="changeCurrentPage('input')">
    </li>
    <li class="page-item"
    [ngClass]="{'disabled': searchModel.api.currentPage >= searchModel.api.totalPage}" (click)="changeCurrentPage('+')">
      <span class="page-link"><i class="fa-solid fa-chevron-right"></i></span>
    </li>
    <li class="page-item"
    [ngClass]="{'disabled': searchModel.api.currentPage >= searchModel.api.totalPage}" (click)="changeCurrentPage('end')">
      <span class="page-link"><i class="fa-solid fa-angles-right"></i></span>
    </li>
  </ul>
</nav>

<app-alert [alertDetail]="alertDetails"></app-alert>